// Font
$mainFont                : "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Main color
$default-color           : #ffffff;
$blue-color              : #3949ab;
$background              : #d5d8df;
$btn-color               : #484aa1;
$app-background          : #b4bbce;


// Border Color
$border-base            : #f2f2f4;
